:global(.newspaper-light-theme-profile) {
    --primary-color: #7286e9;
    --link-color: #7678ac;
    --link-color-hover: #6468d4;
    --background-primary: #ffffff;
    --background-primary-transparent: rgba(255, 255, 255, 0);
    --background-secondary: #f5f5f5;
    --background-tertiary: #f4f4f4;
    --background-layer: var(--background-primary);
    --background-portal: #f9f9f9;
    --background-grey: #fafafa;
    --background-dark: #ebebeb;
    --background-input: #ffffff;
    --background-poll: #e9ecef;
    --background-poll-active: #d1d1ef;
    --border-primary: #d9d9db;
    --border-secondary: #e7e7e9;
    --border-tertiary: #eceff1;
    --border-input: #d8dfe6;
    --border-input-focus: #80bdff;
    --text-placeholder: #939ba3;
    --header-primary: #ffffff;
    --text-normal: #4a4a4a;
    --text-muted: #6c757d;
    --text-light: #b3b7c6;
    --header-border-radius: 0;
    --nav-tab: #6c757d;
    --nav-tab-active: #cccccc;
    --nav-border-primary: #d9d9db;
    --nav-border-secondary: #e7e7e9;
    --sidebar-logo: #5a5a5a;
    --sidebar-active: #f1f1f1;
    --sidebar-hover: #fafafa;
    --sidebar-text: #4a4a4a;
    --sidebar-title: #4a4a4a;
    --sidebar-icons: #6c757d;
    --sidebar-icons-shadow: transparent;
    --sidebar-notification: #15de97;
    --button-background: #fbfbfb;
    --button-text: #4a4a4a;
    --button-fill: #6c757d;
    --button-hover-box-shadow: rgba(227, 227, 227, 0.3);
    --button-background-disabled: #ececec;
    --button-background-color: #8b8b8b;
    --button-group-background: #f6f6f6;
    --button-group-background-hover: #eaeaea;
    --post-border-radius: 0;
    --post-link-background: #eee;
    --post-header-border: #e7e7e9;
    --post-header-text: #6c757d;
    --post-reply-timestamp: #d7d7d7;
    --post-box-shadow: none;
    --profile-header: #4a4a4a;
    --interaction-liked: #fff2f2;
    --interaction-liked-background-hover: #fff2f2;
    --interaction-liked-border-hover: #fcd9d9;
    --interaction-secondary-hover: #fdecee;
    --interaction-success: #f1fff9;
    --interaction-success-hover: #edfff7;
    --interaction-purple: #e7ebff;
    --interaction-purple-border-hover: #ced5f3;
    --profile-background: #eeeeee;
    --loader-background: #f5f6f7;
    --loader-foreground: #eeeeee;
    --alert-blue-background: #efefff;
}

:global(.newspaper-dark-theme-profile) {
    --primary-color: #7286e9;
    --link-color: #7678ac;
    --link-color-hover: #6468d4;
    --background-primary: #383838;
    --background-secondary: #3c3c3c;
    --background-tertiary: #535353;
    --background-layer: var(--background-primary);
    --background-portal: #404040;
    --background-grey: #444343;
    --background-dark: #383838;
    --background-input: #444444;
    --border-primary: #2d2e2f;
    --border-secondary: #2d2d2d;
    --border-tertiary: #3e3e3e;
    --border-input: #4e4f50;
    --border-input-focus: #7292c3;
    --text-placeholder: #8b9197;
    --header-primary: #ffffff;
    --text-normal: #d7d7d7;
    --text-muted: #bfbfbf;
    --text-light: #b3b7c6;
    --header-border-radius: 0.35rem;
    --nav-tab: #bfbfbf;
    --nav-tab-active: #cccccc;
    --nav-border-primary: #2d2e2f;
    --nav-border-secondary: #2d2d2d;
    --sidebar-logo: #e0e0e0;
    --sidebar-active: #313131;
    --sidebar-hover: #343434;
    --sidebar-text: #d7d7d7;
    --sidebar-title: #d7d7d7;
    --sidebar-icons: #bfbfbf;
    --sidebar-icons-shadow: transparent;
    --sidebar-notification: #15de97;
    --button-background: #4e4e4e;
    --button-hover-box-shadow: rgba(35, 35, 35, 0.3);
    --button-background-disabled: #6c6c6c;
    --button-background-color: #a5a5a5;
    --button-text: #d7d7d7;
    --button-fill: #bfbfbf;
    --button-group-background: #484848;
    --button-group-background-hover: #404040;
    --post-border-radius: 0.25rem;
    --post-link-background: #6a6a6a;
    --post-header-border: #2d2d2d;
    --post-header-text: #bfbfbf;
    --post-reply-timestamp: #d7d7d7;
    --post-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    --post-box-shadow-mobile: 0 -2px 3px rgba(0, 0, 0, 0.03);
    --profile-header: #d7d7d7;
    --interaction-liked: #4e3d3d;
    --interaction-liked-border-hover: #443535;
    --interaction-liked-background-hover: #443535;
    --interaction-secondary-hover: #3b2c2c;
    --interaction-success: #414e3d;
    --interaction-success-hover: #303b2c;
    --interaction-purple: #454856;
    --interaction-purple-border-hover: #454856;
    --profile-background: #4a4a4a;
    --loader-background: #5c5c5c;
    --loader-foreground: #767676;
    --alert-blue-background: #484855;
}

.logo path {
    fill: var(--sidebar-logo);
}

.username {
    font-family: "Fraktur", serif;
}
