.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    min-height: 450px;
    max-height: 60vh;
    overflow: auto;
}
.chatWrapper {
    margin-bottom: 0.75rem;
    display: flex;
    color: var(--text-normal);
}
.right {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.info {
    display: flex;
    align-items: center;
}
.username {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 1.25rem;
}
.timestamp {
    margin-left: 0.5rem;
    font-family: "Work Sans", sans-serif;
    color: #d0d0d0;
    font-size: 0.7rem;
}
.textContainer {
    background: #fbfbfb;
    padding: 1rem;
    border-top: 1px solid #efefef;
}
.textWrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #D0D0D0;
    border-radius: 0.25rem;
}
.textWrapper:focus-within {
    border: 1px solid #80bdff;
}
.textWrapper textarea {
    border-width: 0 !important;
    resize: none;
}
.textWrapper button {
    margin: 0 5px 0 0;
}