.top {
    background: rgba(0, 0, 0, .45);
}
.header {
    color: white;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 1.2rem;
}
.emojis {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.25rem;
    margin-left: calc(0.65rem + 15px);
    margin-bottom: 0.5rem;
}