.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    max-width: 900px;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.attempt {
    display: flex;
    align-items: center;
}
.attempt svg {
    margin-right: 0.5em;
}
.container h3{
    margin: 0 0 0.5em;
    display: flex;
    align-items: center;
}
.container h3 > svg {
    margin-right: 0.5em;
}
.container hr {
    margin-bottom: 0.75em;
}
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}