.sendingStatus {
    display: flex;
    border: 1px solid #d9d9db;
    margin-top: 1.5em;
    border-radius: 0.35em;
}
.sendingBar {
    display: flex;
    flex: 1;
    padding: 0.75em;
}
.sendingLoading {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0.75em;
}
.barOuter {
    display: flex;
    flex: 1;
    border-radius: 0.35em;
    background-color: #f1f1f1;
    overflow: hidden;
}
.barInner {
    background: #15de97;
}