.tag {
  overflow: hidden;
}
.tag a {
  color: var(--text-muted);
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
}
.tag label {
  color: var(--text-muted);
  font-size: 12px;
}
