.logoContainer {
  margin-top: 32px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer svg {
  border-radius: 0.35rem;
}
.logoContainer div {
  cursor: pointer;
}
